//
// Fonts

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "reset"; 

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";


@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');



* {
  box-sizing: border-box;
  height: 100vh; 
 
}

#background-img {
    position:fixed;
    width: 100%;
    z-index: 1; 
    background-size: cover;
    // overflow: hidden; 

}

#navsection {
    height: 100px; 
    width: 100%; 
    z-index: 4; 
    position: relative; 
    background: #A63C3C;
    .icon-hold {
        color: white; 
        padding: 10px; 
    }
    .fa {
        padding: 10px; 
        color: white; 
        font-size: 1.5rem;
       
    }
    .logo-content {
        height: 200px; 
        width: 100%; 
        background: white; 
    }
}



#bigone {

  background: white;
  text-align: center; 
  height: 150px; 
  font-size: 1.3rem; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 100%;
  z-index: 10; 
  position: relative; 
  padding: 50px;  
  .click-text {
      text-decoration: underline;
      font-weight: 800;
  }
}

#bigtwo {
    background: white;
    text-align: center; 
    height: 300px; 
    font-size: 1.5rem; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: 100%;
    z-index: 10; 
    position: relative; 
    padding-bottom: 50px;  
    #nav-links {
       
        position: relative; 
        height: 150px; 
        padding: 10px; 
       justify-content: space-between;
    }
   a {
      
    //    justify-content: space-between !important;
       padding: 2px 10px; 
       font-family: 'Libre Baskerville', serif;
       text-transform: capitalize;
       text-decoration: none;
       display: inline;  
       justify-content: center;
       align-items: center;
       text-align: center;
       color: black ; 
   
       font-weight: 400; 
    //    background: blue; 
       font-size: 1.3rem; 
       &:hover{
           color: #A63C3C;
           text-decoration: underline;
       }


   }
   #bigstuff {
    height: 300px; 
    width: 100%; 
    color: white; 
    text-align: right;
    padding-right: 120px; 
    font-size: 3rem;
    background: transparent; 
    position: relative; 
    #buy {
        font-size: 1.5rem; 
    }
    
}

}



#footer {
    background: #343773; 
    text-align: center; 
    height: 100px; 
    font-size: 1rem; 
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    z-index: 10; 
    color: white; 
    position: absolute; 
    margin-bottom: 0; 
    padding: 30px 0;  
  

}
 
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

