@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  height: 100vh;
}

body .app-layout .first {
  background: white;
  display: block;
  justify-content: center;
  position: relative;
  height: 20%;
}

body .app-layout .first #top-ad-section {
  background: white;
  height: 10%;
  text-align: center;
  padding: 50px;
}

body .app-layout .first #bigstuff {
  height: 500px;
  width: 100vw;
  color: white;
  text-align: right;
  font-size: 3rem;
  z-index: -100;
  position: fixed;
  transform: translate3d(0, -100px, 0);
}

body .app-layout .first #bigstuff #background-img {
  align-self: center;
  position: fixed;
  background: url("/img/darkened.png");
  background-repeat: no-repeat center center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
}

body .app-layout .first .bigtext {
  margin-top: -20px;
  font-size: 3.5rem;
  line-height: 1;
  font-family: "EB Garamond", serif;
  color: black;
  display: flex;
  align-items: flex-end;
  color: white;
  padding: 50px;
  justify-self: flex-end;
  position: relative;
  flex-direction: column;
  padding-right: 100px;
  text-align: right;
  height: 100px;
  align-content: space-between;
  display: inline-block;
  width: 100vw;
  vertical-align: right;
}

body .app-layout .first .buy {
  display: flex;
  align-items: flex-end;
  justify-self: flex-end;
  position: relative;
  flex-direction: column;
  padding-right: 100px;
  text-align: right;
  height: 100px;
  align-content: space-between;
  display: inline-block;
  width: 100vw;
  vertical-align: right;
  line-height: 4.8;
  font-size: 1.5rem;
  font-family: "EB Garamond", serif;
  font-weight: 50;
  vertical-align: right;
  text-align: right;
  display: inline-block;
  color: white;
}

body .app-layout .first .button {
  display: grid;
  align-items: flex-end;
  background: transparent;
  border: none;
  width: 100%;
  justify-self: flex-end;
  position: relative;
  flex-direction: column;
  grid-template-columns: 1fr 2fr;
  padding-right: 100px;
  height: 100px;
  align-content: space-between;
  display: inline-block;
  vertical-align: right;
  font-size: 1.5rem;
  font-family: "EB Garamond", serif;
  font-weight: 50;
  vertical-align: right;
  text-align: right;
  display: inline-block;
  color: white;
}

body .app-layout .first .button .gun-classifieds-btn {
  background: #A63C3C;
  position: relative;
  width: auto;
  text-align: center;
  padding: 10px;
  margin: 20px;
  height: 50px;
}

body .app-layout .first .contacts-container {
  padding: 10px;
  background: linear-gradient(180deg, #a63c3c 85%, #7c2121 100%);
  flex-direction: row;
  height: 100px;
}

body .app-layout .first .contacts-container .mail-icon-row {
  height: 10px;
  padding: 0 50px;
  color: white;
  margin-bottom: 20px;
}

body .app-layout .first .contacts-container .mail-icon-row span {
  margin-top: 3px;
}

body .app-layout .first .contacts-container .phone-icon-row {
  height: 10px;
  padding: 0 50px;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}

body .app-layout .first .contacts-container .phone-icon-row span {
  margin-top: 3px;
}

#top-container #background-img {
  align-self: center;
  position: relative;
  height: calc(100vh-100px);
  background: url("/img/darkened.png");
  background-repeat: no-repeat center center;
  -o-object-fit: cover;
     object-fit: cover;
}

#top-container #top-ad-section {
  background: white;
  text-align: center;
  height: 100px;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  z-index: 59;
}

#top-container #top-ad-section .click-text {
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.5rem;
}

#navsection {
  height: 100px;
  position: relative;
  transform: translate3d(0, -370px, 0);
  background: linear-gradient(180deg, #a63c3c 85%, #7c2121 100%);
}

#navsection .icon-hold {
  color: white;
  padding: 10px 20px;
}

#navsection .icon-hold .icontext {
  margin: 0px 20px;
  font-size: 1.5rem;
  font-weight: 550;
}

#navsection .fa {
  padding: 12px 10px;
  color: white;
  font-size: 1.5rem;
  display: block;
  position: relative;
}

#navsection .logo-content {
  height: 300px;
  background: white;
  display: block;
}

#logo-listing-container {
  background: white;
  height: 360px;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  z-index: 10;
  position: relative;
  padding-bottom: 50px;
}

#logo-listing-container #nav-links {
  position: relative;
  height: 150px;
  padding: 10px;
  justify-content: space-between;
}

#logo-listing-container a {
  padding: 2px 20px;
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  text-decoration: none;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 1.3rem;
}

#logo-listing-container a:hover {
  color: #A63C3C;
  text-decoration: underline;
}

#logo-listing-container #bigstuff {
  height: 700px;
  color: white;
  text-align: right;
  padding-right: 120px;
  font-size: 3rem;
  background: transparent;
  position: relative;
}

#logo-listing-container #bigstuff .bigtext {
  margin-top: 10px;
  font-size: 5rem;
  font-family: "Domine", serif;
  color: white;
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  vertical-align: middle;
  height: 100px;
  align-content: space-between;
}

#logo-listing-container #bigstuff .button {
  width: 300px;
  height: 100px;
  margin-top: 30px;
  font-size: 4rem;
  font-family: "Domine", serif;
  color: white;
  display: inline-block;
  flex-direction: column;
  width: 30%;
  height: 100px;
  align-content: space-between;
}

#logo-listing-container #bigstuff .button .gun-classifieds-btn {
  background: #A63C3C;
  flex-direction: column;
  font-size: 2rem;
  height: 100px;
  padding: 10px;
  text-align: center;
  align-items: center;
  font-family: "EB Garamond", serif;
}

#footer-wrapper {
  position: relative;
  bottom: 0;
}

#classifieds-section {
  background: white;
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  padding: 150px;
  vertical-align: middle;
  height: 100px;
  align-content: space-between;
  height: 600px;
  position: relative;
}

#classifieds-section .classified-title {
  text-align: left;
  float: left;
  color: #363973;
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "EB Garamond", serif;
}

#footer-wrapper #footer {
  background: rgba(52, 55, 115, 0.8);
  text-align: center;
  height: 100px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
  color: white;
  transform: translate3d(0, 850px, 0);
  padding: 30px 0;
}

/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

#under-banner-values {
  height: 100px;
}

#under-banner-values .values-title {
  padding: 150px;
  background: white;
  height: 50px;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  color: #363973;
}

#under-banner-values .values-container {
  height: 400px;
  background: white;
  font-family: "EB Garamond", serif;
}

#under-banner-values .values-container .values-row {
  height: 100px;
  display: grid;
  grid-template-columns: 450px 1fr;
  position: relative;
}

#under-banner-values .values-container .values-row max- .values-left {
  display: inline-block;
  background: white;
  height: 50px;
  font-size: 4rem;
  color: #A63C3C;
}

#under-banner-values .values-container .values-row .values-right {
  display: inline-block;
  padding: 20px;
  background: white;
  height: 300px;
  color: #363973;
}

#lower-content-container {
  height: 900px;
  background-image: url("/img/blended.png");
  opacity: 0.08;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

@media (min-width: 0px) and (max-width: 767px) {
  body {
    background: lightgrey;
  }

  body .app-layout .first {
    height: 20%;
  }

  body .app-layout .first .contacts-container {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  body .app-layout .first .contacts-container .mail-icon-row {
    display: flex;
    max-width: 50%;
    padding: 10px;
  }

  body .app-layout .first .contacts-container .mail-icon-row span {
    margin-left: 0;
    font-size: 0.6rem;
    vertical-align: center;
    font-weight: 700;
  }

  body .app-layout .first .contacts-container .phone-icon-row {
    display: flex;
    padding: 0 20px;
  }

  body .app-layout .first .contacts-container .phone-icon-row span {
    margin-left: 0;
    font-size: 0.6rem;
    vertical-align: center;
    font-weight: 700;
  }

  #top-container {
    height: 100%;
  }

  #top-container #top-ad-section {
    background: white;
    text-align: center;
    padding: 20px;
    height: 100px;
    font-size: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    z-index: 59;
    position: relative;
    padding: 50px;
    top: 0;
    left: 0;
  }

  #top-container #top-ad-section .click-text {
    text-decoration: none;
    font-weight: 900;
    font-size: 0.8rem;
  }

  #top-container #navsection {
    height: 50px;
    background: green;
    display: flex;
    transform: translate3d(0, -400px, 0);
    font-size: 1rem;
    z-index: 1000;
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 0px) and (max-width: 767px) and (min-width: 768px) and (max-width: 991px) {
  #top-container {
    height: 100%;
  }

  #top-container #top-ad-section {
    text-align: center;
    height: 100px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    z-index: 59;
  }

  #top-container #top-ad-section .click-text {
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5rem;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  #under-banner-values {
    height: 700px;
  }

  #under-banner-values .values-title {
    padding: 150px;
    background: white;
    height: 50px;
    font-family: "EB Garamond", serif;
    font-size: 3rem;
    color: #363973;
  }

  #under-banner-values .values-container {
    height: 550px;
    background: white;
    font-family: "EB Garamond", serif;
  }

  #under-banner-values .values-container .values-row {
    height: 100px;
    display: flex;
    position: relative;
  }

  #under-banner-values .values-container .values-row .values-left {
    background: white;
    position: relative;
    color: white;
    max-height: 100%;
  }

  #under-banner-values .values-container .values-row .values-right {
    display: block;
    padding: 20px;
    background: white;
    max-height: 100%;
  }
}

