@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  height: 100vh;
}

#top-container {
  width: 700px;
  height: 100%;
  margin: 0 auto;
}

#top-container #background-img {
  position: fixed;
  max-width: 100%;
  height: calc(100vh-100px);
  background: url("/img/darkened.png");
  background-repeat: no-repeat center center;
  -o-object-fit: cover;
     object-fit: cover;
}

#top-container #top-ad-section {
  background: white;
  text-align: center;
  height: 100px;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 100%;
  z-index: 59;
}

#top-container #top-ad-section .click-text {
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.5rem;
}

#navsection {
  height: 100px;
  width: 100%;
  z-index: 4;
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #a63c3c 85%, #7c2121 100%);
}

#navsection .icon-hold {
  color: white;
  padding: 10px 20px;
}

#navsection .icon-hold .icontext {
  margin: 0px 20px;
  font-size: 1.5rem;
  font-weight: 550;
}

#navsection .fa {
  padding: 12px 10px;
  color: white;
  font-size: 1.5rem;
  display: block;
  position: relative;
}

#navsection .logo-content {
  height: 300px;
  width: 100%;
  background: white;
  display: block;
}

#logo-listing-container {
  background: white;
  height: 360px;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 100%;
  z-index: 10;
  position: relative;
  padding-bottom: 50px;
}

#logo-listing-container #nav-links {
  position: relative;
  height: 150px;
  padding: 10px;
  justify-content: space-between;
}

#logo-listing-container a {
  padding: 2px 20px;
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  text-decoration: none;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 1.3rem;
}

#logo-listing-container a:hover {
  color: #A63C3C;
  text-decoration: underline;
}

#logo-listing-container #bigstuff {
  height: 700px;
  width: 100%;
  color: white;
  text-align: right;
  padding-right: 120px;
  font-size: 3rem;
  background: transparent;
  position: relative;
}

#logo-listing-container #bigstuff .bigtext {
  margin-top: 10px;
  font-size: 5rem;
  font-family: "Domine", serif;
  color: white;
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  width: 100%;
  vertical-align: middle;
  height: 100px;
  align-content: space-between;
}

#logo-listing-container #bigstuff .button {
  width: 300px;
  height: 100px;
  margin-top: 30px;
  font-size: 4rem;
  font-family: "Domine", serif;
  color: white;
  display: inline-block;
  flex-direction: column;
  width: 30%;
  height: 100px;
  align-content: space-between;
}

#logo-listing-container #bigstuff .button .gun-classifieds-btn {
  background: #A63C3C;
  flex-direction: column;
  font-size: 2rem;
  height: 100px;
  padding: 10px;
  text-align: center;
  align-items: center;
  font-family: "EB Garamond", serif;
}

#logo-listing-container #bigstuff #buy {
  font-size: 2.5rem;
  font-family: "EB Garamond", serif;
  font-weight: 50;
  display: inline-block;
}

#footer-wrapper {
  position: relative;
  bottom: 0;
}

#promotional-wrapper {
  z-index: 50;
  background: white;
  text-align: center;
  height: 800px;
  width: 100vw;
  font-size: 1.5rem;
  z-index: 10;
}

#promotional-wrapper .promotional-text-left {
  width: 50%;
  height: 800px;
  display: flex;
  background: white;
  align-items: center;
  justify-content: flex-end;
}

#promotional-wrapper .promotional-text-left .content-left {
  background: white;
  height: 600px;
  width: 700px;
  transform: translate3d(100px, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: white;
  vertical-align: middle;
  align-content: space-between;
}

#promotional-wrapper .promotional-text-left .content-left .inside {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  vertical-align: middle;
  align-content: space-between;
}

#promotional-wrapper .promotional-section-right {
  padding-left: 80px;
  height: 600px;
  float: right;
  display: inline-block;
  color: black;
  width: 50%;
  max-width: 100%;
  max-height: 100%;
}

#promotional-wrapper .promotional-section-right #box {
  height: 350px;
  width: 350px;
  background: white;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
  position: relative;
  right: -100px;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#promotional-wrapper .promotional-section-right #box img {
  max-width: 100%;
  max-height: 100%;
}

#classifieds-section {
  background: white;
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  padding: 150px;
  width: 100%;
  vertical-align: middle;
  height: 100px;
  align-content: space-between;
  height: 600px;
  position: relative;
}

#classifieds-section .classified-title {
  text-align: left;
  float: left;
  color: #363973;
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "EB Garamond", serif;
}

#browse-wrapper {
  background: white;
  text-align: center;
  background: white;
  justify-content: center;
  position: relative;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px;
  width: 800px;
}

#browse-wrapper #card {
  background: white;
  display: inline-block;
  box-shadow: 1px 5px 21px 0px rgba(0, 0, 0, 0.52);
  justify-content: center;
  text-align: center;
  margin: 20px;
  height: 500px;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

#browse-wrapper #card img {
  position: relative;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  height: 80%;
  background-size: cover;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

#browse-wrapper #card .blackbox {
  background: black;
  top: 0;
  left: 0;
  height: 400px;
  width: 500px;
  transform: translate3d(0, -1340px, 0);
  z-index: 100;
  top: 0;
  left: 0;
  position: relative;
  display: inline-block;
  justify-content: center;
  text-align: center;
  opacity: 0.5;
  max-width: 100%;
  max-height: 100%;
  color: white;
  font-size: 1.5rem;
}

#browse-wrapper #card .blackbox:hover {
  background: green;
}

#browse-wrapper #card .classified-text {
  height: 100px;
  width: 150px;
  padding: 0px;
  display: flex;
  vertical-align: middle;
  margin-left: 30%;
  justify-content: center;
  background: #A63C3C;
  position: relative;
  bottom: 80px;
  visibility: hidden;
  margin: 0 auto;
}

#browse-wrapper #card .classified-text:hover {
  background: blue;
}

#browse-wrapper #card .info {
  color: white;
  padding: 80px;
  background: transparent;
  display: flex;
  justify-content: center;
  font-family: Georgia, serif;
  transform: translate3d(0, -1740px, 0);
  z-index: 1000;
  font-size: 3.5rem;
  height: 400px;
  width: 100%;
  position: relative;
  transition: all 0.4s ease-in;
}

#browse-wrapper #card .info:hover {
  transition: all 0.3s ease-in-out;
  position: relative;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  transform: translate3d(0, -1740px, 0);
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 3.5rem;
}

#footer-wrapper #footer {
  background: rgba(52, 55, 115, 0.8);
  text-align: center;
  height: 100px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  z-index: 10;
  color: white;
  transform: translate3d(0, 850px, 0);
  padding: 30px 0;
}

/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

#under-banner-values {
  height: 100px;
  width: 100%;
}

#under-banner-values .values-title {
  padding: 150px;
  background: white;
  height: 50px;
  width: 100%;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  color: #363973;
}

#under-banner-values .values-container {
  height: 400px;
  width: 100%;
  max-width: 100%;
  background: white;
  font-family: "EB Garamond", serif;
}

#under-banner-values .values-container .values-row {
  height: 100px;
  display: grid;
  grid-template-columns: 450px 1fr;
  position: relative;
  width: 100%;
  max-width: 100%;
}

#under-banner-values .values-container .values-row .values-left {
  display: inline-block;
  background: white;
  height: 50px;
  font-size: 4rem;
  color: #A63C3C;
}

#under-banner-values .values-container .values-row .values-right {
  display: inline-block;
  padding: 20px;
  background: white;
  height: 300px;
  color: #363973;
}

#lower-content-container {
  height: 900px;
  width: 100%;
  background-image: url("/img/blended.png");
  opacity: 0.08;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

@media (min-width: 0px) and (max-width: 767px) {
  #top-container {
    height: 100%;
    width: 100%;
  }

  #top-container #background-img {
    position: absolute;
    min-width: 500px;
    z-index: 1;
    height: 700px;
    background-size: cover;
    opacity: 1;
    -o-object-fit: cover;
       object-fit: cover;
    visibility: none;
  }

  #navsection {
    height: 50px;
    background: green;
    min-width: 500px;
  }

  #under-banner-values {
    height: 700px;
    width: 100%;
  }

  #under-banner-values .values-title {
    padding: 150px;
    background: white;
    height: 50px;
    width: 100%;
    font-family: "EB Garamond", serif;
    font-size: 3rem;
    color: #363973;
  }

  #under-banner-values .values-container {
    height: 550px;
    width: 100%;
    max-width: 100%;
    background: white;
    font-family: "EB Garamond", serif;
  }

  #under-banner-values .values-container .values-row {
    height: 100px;
    display: flex;
    position: relative;
  }

  #under-banner-values .values-container .values-row .values-left {
    background: white;
    position: relative;
    width: 100%;
    color: white;
    max-height: 100%;
  }

  #under-banner-values .values-container .values-row .values-right {
    display: block;
    padding: 20px;
    width: 100%;
    background: white;
    max-height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #content-top {
    height: 100%;
    width: 100%;
  }

  #content-top #background-img {
    position: absolute;
    width: 780px;
    z-index: 1;
    height: 900px;
    background-size: cover;
    opacity: 1;
    -o-object-fit: cover;
       object-fit: cover;
    visibility: none;
  }

  #background-img {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 500px;
    background-size: cover;
    opacity: 1;
    -o-object-fit: cover;
       object-fit: cover;
  }

  #under-banner-values {
    height: 700px;
    width: 100%;
  }

  #under-banner-values .values-title {
    padding: 150px;
    background: white;
    height: 50px;
    width: 100%;
    font-family: "EB Garamond", serif;
    font-size: 3rem;
    color: #363973;
  }

  #under-banner-values .values-container {
    height: 550px;
    width: 100%;
    max-width: 100%;
    background: white;
    font-family: "EB Garamond", serif;
  }

  #under-banner-values .values-container .values-row {
    height: 100px;
    display: flex;
    position: relative;
  }

  #under-banner-values .values-container .values-row .values-left {
    background: white;
    position: relative;
    width: 100%;
    color: white;
    max-height: 100%;
  }

  #under-banner-values .values-container .values-row .values-right {
    display: block;
    padding: 20px;
    width: 100%;
    background: white;
    max-height: 100%;
  }
}

